map {
    basemap {
        fpi='-//OASIS//DTD DITA Base Map//EN'
        urn='urn:oasis:names:tc:dita:rng:basemap.rng'
    }
    basetopic {
        fpi='-//OASIS//DTD DITA Base Topic//EN'
        urn='urn:oasis:names:tc:dita:rng:basetopic.rng'
    }
    bookmap {
        fpi='-//OASIS//DTD DITA BookMap//EN'
        urn='urn:oasis:names:tc:dita:rng:bookmap.rng'
    }
    concept {
        fpi='-//OASIS//DTD DITA Concept//EN'
        urn='urn:oasis:names:tc:dita:rng:concept.rng'
    }
    ditaval {
        fpi='-//OASIS//DTD DITA DITAVAL//EN'
        urn='urn:oasis:names:tc:dita:xsd:ditaval.rng'
    }
    glossary {
        fpi='-//OASIS//DTD DITA Glossary//EN'
        urn='urn:oasis:names:tc:dita:rng:glossary.rng'
    }
    machinerytask {
        fpi='-//OASIS//DTD DITA Machinery Task//EN'
        urn='urn:oasis:names:tc:dita:spec:machinery:rng:machinerytask.rng'
    }
    map {
        fpi='-//OASIS//DTD DITA Map//EN'
        urn='urn:oasis:names:tc:dita:spec:learning:rng:learningBookmap.rng'
    }
    reference {
        fpi='-//OASIS//DTD DITA Reference//EN'
        urn='urn:oasis:names:tc:dita:rng:reference.rng'
    }
    subjectschene {
        fpi='-//OASIS//DTD DITA Subject Scheme Map//EN'
        urn='urn:oasis:names:tc:dita:rng:subjectScheme.rng'
    }
    task {
        fpi='-//OASIS//DTD DITA Task//EN'
        urn='urn:oasis:names:tc:dita:spec:machinery:rng:machinerytask.rng'
    }
    topic {
        fpi='-//OASIS//DTD DITA Topic//EN'
        urn='urn:oasis:names:tc:dita:rng:topic.rng'
    }
    troubleshooting {
        fpi='-//OASIS//DTD DITA Troubleshooting//EN'
        urn='urn:oasis:names:tc:dita:rng:troubleshooting.rng'
    }
}

